*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(0, 0, 0, 0.877);
    position: relative;
}
.my-btn{
 padding: 30px 600px;
}
button{
    
    background: #efefef;
    height: 30px;
    width: 40%;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    /* transition: background 0.5s; */
}
button span{
    display: block;
    background: #999;
    height: 29px;
    width: 30px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s;
}

.lamp-light{
    position: absolute;
    top: -70px;
    left: 22%;
    width: 200px;
}
.lamp{
    width: 100%;
}
.light{
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.5s;
    height: 90%;
}
.control{
    margin-right: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 300px;
}
.line{
    width: 250px;
    height: 4px;
    background: #fff;
    margin: 0 20px;
    border-radius: 2px;
}
.line span{
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    background: #00986f;
    display: block;
}
.active{
    background: green;
}
.active span{
    background: #fff;
    margin-left: 31px;
}
.on{
    opacity: 1;
}